body { 
  position:absolute;
  overflow: hidden;
}
/* Styles for the buttons */
button {
vertical-align: top;
text-align: center;
text-decoration: none;
background: #000000;
padding:15px 30px 15px 30px;
font-size: 30;
font-weight:700;
color: #F7E226;
text-transform: uppercase;
border: 3px solid #F7E226; /* Yellow Border Box */
border-radius:6px;
margin-left:3px;
}

button:hover {
  color: #ad9c1a; /* Changes text colour on hover */
  border: 3px solid #ad9c1a; /* Changes colour of border on hover */
}

::-webkit-input-placeholder { opacity: 1; -webkit-transition: opacity .5s; transition: opacity .5s; }  /* Chrome <=56, Safari < 10 */
:-moz-placeholder { opacity: 1; -moz-transition: opacity .5s; transition: opacity .5s; } /* FF 4-18 */
::-moz-placeholder { opacity: 1; -moz-transition: opacity .5s; transition: opacity .5s; } /* FF 19-51 */
:-ms-input-placeholder { opacity: 1; -ms-transition: opacity .5s; transition: opacity .5s; } /* IE 10+ */
::placeholder { opacity: 1; transition: opacity .5s; } /* Modern Browsers */

*:focus::-webkit-input-placeholder { opacity: 0; } /* Chrome <=56, Safari < 10 */
*:focus:-moz-placeholder { opacity: 0; } /* FF 4-18 */
*:focus::-moz-placeholder { opacity: 0; } /* FF 19-50 */
*:focus:-ms-input-placeholder { opacity: 0; } /* IE 10+ */
*:focus::placeholder { opacity: 0; } /* Modern Browsers */
/*Styles and positioning for input, without effecting p styles */
input {
  margin:0;
  display:inline-block;
  border: 3px solid #F7E226;
  border-radius:4px;
  padding:15px 30px 15px 30px;
  margin-left:3px;
  background: #000000;
  color: #F7E226;
}

input:focus {
  outline-style:none;
  border: 3px solid #7d7315;
box-shadow:none;
/* border-color:transparent; */
}
/* Styles for input text and paragraph tags */
::placeholder {
  /* line-height: 0; */
  font-size: 30;
  font-weight:300;
  color: #F7E226;
}

/* Title styles, fixed position */
.title {
  font-family: sans-serif;
  font-style: normal;
  font-size: 30px;
  font-weight:700;
  margin:0;
  
  /* position:absolute;
  top:20px;
  right:450px; */
  font-family: work-sans, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size:5em;
  line-height: -1em;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #F7E226;;
  text-align:center;
}

/* Container styles, black background to fit with sketch, padding for GUI */
.container {
  
  width:80%;
  border:3px solid #F7E226;
  border-radius:4px;
  margin:auto;
  text-align:center;
}

nav {
  display: inline-block;
  /* width:100%; */
  margin:auto;
  padding-bottom:25px;
}

.wrapper {
  padding-top:30px;
  position:absolute;
  width:100%;
  height:100%;
}

#sith { 
  display:inline-block;
  vertical-align: top;
}

.item {
  /* padding-left:10px; 
  padding-right:10px; 
  padding-top:20px; */
}


