body { 
  position:absolute;
  overflow: hidden;
}
/* Styles for the buttons */
button {
vertical-align: top;
text-align: center;
text-decoration: none;
background: #000000;
padding:15px 30px 15px 30px;
font-size: 30;
font-weight:700;
color: #F7E226;
text-transform: uppercase;
border: 3px solid #F7E226; /* Yellow Border Box */

}

button:hover {
  color: #ad9c1a; /* Changes text colour on hover */
  border: 3px solid #ad9c1a; /* Changes colour of border on hover */
}





/*Styles and positioning for input, without effecting p styles */
input {
  margin:0;
  display:inline-block;
  vertical-align: top;
  border: 3px solid #F7E226;
  padding:15px 30px 15px 30px;
  vertical-align: top;
}

/* Styles for input text and paragraph tags */
p, input {
  /* line-height: 0; */
  font-size: 30;
  font-weight:300;
  color: #F7E226;
  background: #000000;
  display:inline-block;
  vertical-align: top;
}

/* Title styles, fixed position */
.title {
  font-family: sans-serif;
  font-style: normal;
  font-size: 30px;
  font-weight:700;
  
  
  /* position:absolute;
  top:20px;
  right:450px; */
  display:inline-block;
  line-height: -2em;
  font-family: work-sans, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size:6em;

  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #F7E226;;
  text-align:center;
}

/* Container styles, black background to fit with sketch, padding for GUI */
.container {
  position: relative;
  padding:50px;
  height:100%;
  border:3px solid #F7E226;
}

.wrapper {
  position:absolute;
  width:100vw;
  height:100vw;
}

#sith { 
  display:inline-block;
  vertical-align: top;
}

.item {
  /* padding-left:10px; 
  padding-right:10px; 
  padding-top:20px; */
}


